.container-list {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.card-list {
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.input-share-list {
  margin-top: 100px;
  margin-left: 100px;
  box-sizing: border-box;
  width: 80%;
  padding: 12px;
}

.lista-users {
  width: 72%;
}
@media (max-width: 555px) {
  .container-list {
    display: block;
    margin-top: 10px;
    .lista-users {
      width: 100%;
    }
  }
  .list-filter {
    width: 5%;
    border: 0;
    position: sticky;
    top: 50px;
    z-index: 2;
  }
  .input-share-list {
    margin-left: 20px;
    width: 90%;
  }
}
